branches:
  except:
    - /travis/
skip_tags: true

cache:
  - C:\Strawberry540
  #- C:\Strawberry -> appveyor.yml

environment:
  PERL_CPANM_HOME: c:\cpanm

install:
  - set ST=C:\Strawberry540
  - if exist %ST% del /Q %ST%
#  - if not exist %ST% appveyor-retry choco install strawberryperl --version 5.40.2 --install-arguments="INSTALLDIR=""C:\Strawberry540"""
  - if not exist %ST% appveyor-retry choco install strawberryperl --install-arguments="INSTALLDIR=""C:\Strawberry540"""
#  - appveyor-retry choco upgrade strawberryperl --version 5.38.0
  - refreshenv
  - set PATH=%ST%\perl\bin;%ST%\perl\site\bin;%ST%\c\bin;%PATH%
  - path
  - cd C:\projects\%APPVEYOR_PROJECT_NAME%
  
  #- cpanm --installdeps --notest PDL
  #- ppm set repository BDV_PPM http://biodiverse.unsw.edu.au/downloads/ppm
  #- ppm install --location http://biodiverse.unsw.edu.au/downloads/ppm PDL
  #- perl -MPDL -E"say 1"  #  check installation
  #- cpanm --notest --no-man-pages PDL

  #  test issues https://github.com/tsee/extutils-cppguess/issues/30
  - cpanm --notest ExtUtils::CppGuess

  
  #  aliens should be cached now
  - cpanm --quiet --notest Module::Compile
    
  - cpanm --quiet --notest Alien::Build
  
  - cpanm -v --notest Alien::sqlite
  - cpanm -v --notest Alien::geos::af
  - set ALIEN_INSTALL_TYPE=share
  - where libtiff*.dll
  - cpanm -v Alien::libtiff
  - cpanm -v Alien::proj
  
#  - set ALIEN_GDAL_CONFIG_ARGS=--without-spatialite --without-gnm --without-qhull
  - cpanm -v Alien::gdal

  - cpanm --notest --installdeps .
#  - cpanm --installdeps .
#  #  for debugging purposes
  - set TEST_VERBOSE=1
  - cpanm --verbose https://github.com/ajolma/Geo-GDAL-FFI.git

build_script:
#  - prove -lv t\11-BaseData-import-feature-data.t t\11-BaseData.t
#  - prove -l
#  disable when modules are cached
  - perl -e "1"

