name: Windows

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:

env:
  PERL5LIB: c:\cx\lib\perl5
  PERL_LOCAL_LIB_ROOT: c:/cx
  PERL_MB_OPT: --install_base C:/cx
  PERL_MM_OPT: INSTALL_BASE=C:/cx
  ALIEN_BUILD_PRELOAD: Fetch::Cache
  AUTOMATED_TESTING: 1

jobs:
  perl:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      - name: Set up Perl
        run: |
          choco install strawberryperl
          echo "C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          ##echo $env:PATH

      #- name: Check path
      #  run: |
      #    echo $env:PATH
      #    echo "glargglarg"
      #    echo $GITHUB_PATH
      #    echo "zogzogzog"
      #    $env:PATH = "C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;$env:PATH"
      #    echo $env:PATH
      #    echo "zigzig"
      #    echo "C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;$env:PATH" > $GITHUB_PATH
      #    echo $GITHUB_PATH
    
      - name: perl -V
        run: perl -V
        
      - name: Prepare for CPAN cache
        run: |
          perl -V > perlversion.txt
          echo "20201120" >> perlversion.txt
          dir perlversion.txt

      - name: Cache CPAN modules
        uses: actions/cache@v1
        with:
          path: c:\cx
          key: ${{ runner.os }}-build-${{ hashFiles('perlversion.txt') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ hashFiles('perlversion.txt') }}

      - name: Prepare for Alien cache
        run: |
          perl -V > aliencache.txt
          echo 'aliens' >> aliencache.txt
          dir aliencache.txt

      - name: Cache Alien downloads
        uses: actions/cache@v1
        with:
          path: $HOMEPATH\.alienbuild
          key: ${{ runner.os }}-build-${{ hashFiles('aliencache.txt') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ hashFiles('aliencache.txt') }}

      #- name: Install Dependencies
      #  run: curl -sL https://git.io/cpm | perl - install -g --show-build-log-on-failure

  
      #- name: Install dependencies 1
      #  run: |
      #    #cpanm --notest local::lib
      #    #eval "$(perl -Mlocal::lib=${PWD}/perl_modules)"
      #    cpanm --quiet --notest Alien::Build
      #    cpanm --quiet --notest Alien::Build::MM
      #    cpanm --quiet --notest Sort::Versions
      #    cpanm --quiet --notest PkgConfig
      #    cpanm --quiet --notest Alien::Build::Plugin::Cleanse::BuildDir
      #    cpanm --quiet --notest File::Find::Rule
      #    cpanm --quiet --notest Alien::Build::Plugin::Fetch::Cache
      #    cpanm --quiet --notest Env::ShellWords
      #    cpanm --quiet --notest Test2::Suite

      - name: Install dependencies Alien::MSYS
        run: |
          cpanm --notest Alien::MSYS

      - name: Install dependencies Alien::sqlite
        run: |
          echo $env:PATH
          cpanm --no-test --installdeps Alien::sqlite
          cpanm -v Alien::sqlite~1.05

      - name: Install dependencies Alien::proj
        run: |
          #cpanm -v --notest https://github.com/shawnlaffan/perl-alien-proj.git
          cpanm --no-test --installdeps Alien::proj
          cpanm -v --notest Alien::proj

      - name: Install dependencies Alien::geos::af
        run: |
          cpanm --no-test --installdeps Alien::geos::af
          cpanm -v Alien::geos::af

      - name: Install dependencies Alien::gdal
        run: |
          cpanm --notest --installdeps Alien::gdal
          echo "ALIEN_GDAL_CONFIG_ARGS=--with-hide_internal_symbols" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append
          $env:ALIEN_GDAL_CONFIG_ARGS = "--with-hide-internal-symbols=yes --without-gnm"
          Get-PSDrive C | Select-Object Used,Free
          #  clunky path override
          #  $env:PATH = "C:\strawberry\c\bin;C:\strawberry\perl\site\bin;C:\strawberry\perl\bin;$env:PATH"
          cpanm -v Alien::gdal
          Get-PSDrive C | Select-Object Used,Free
          
      - name: Install task deps
        run: |
          #cpanm --notest Task::Biodiverse::NoGUI
          cpanm --notest --no-man-pages PDL
          cpanm --notest --installdeps .
          cpanm --installdeps .
  
      # Runs a set of commands using the runners shell
      - name: Run tests
        run: |
          prove 
          